body {
    background-color: #212324;
    color:#C1B386;
}

h1 {
    color:#C1B386;
}

html {
    background-color: #342F32;
}

hr {
    background-color: #5F7266;
    border-color: #5F7266;
    color: #5F7266;
}

h2 {
    color: #A7B38F;
}